<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Cadastro de Usuário</title>
</head>
<body>
	<section>
		<!-- Right Panel -->

		<div id="right-panel" class="right-panel" layout:fragment="conteudo">

			<!-- Header-->
			<header id="header" class="header">

				<div class="header-menu">

					<div class="col-sm-7">
						<a id="menuToggle" class="menutoggle pull-left"><i
							class="fa fa fa-tasks"></i></a>
						<div class="header-left">
							<div>
							</div>

							<div></div>
						</div>
					</div>

					<div class="col-sm-5">

					</div>
				</div>

			</header>
			<!-- /header -->
			<!-- Header-->

			<!-- até aqui tem q ter em todos -->
			<div class="breadcrumbs">
				<div class="col-sm-4">
					<div class="page-header float-left">
						<div class="page-title">
							<h1>Cadastro de Usuário</h1>
						</div>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="page-header float-right">
						<div class="page-title">
							<ol class="breadcrumb text-right">
								<li class="active"><a href="#" data-toggle="modal"
									data-target="#modalHelpCadastroUsuario">Dúvidas no
										preenchimento? Clique aqui</a></li>
							</ol>
						</div>
					</div>
				</div>
			</div>

			<div>


				<form method="POST"
					class="form-vertical  js-form-loading content mt-3"
					>
					<!-- Linha do Nome -->
					<div class="row">
						<div class="form-group col-sm-3 ">
							<label class="bw-required" for="cpf">CPF*</label> <input id="cpf"
								type="text" class="form-control js-cpf" autofocus="autofocus"
								
								 />
						</div>
					</div>
					<div class="row">
						<div class="form-group col-sm-7">
							<label for="nome">Nome*</label> <input id="nome" type="text"
								class="form-control" 
								 />
						</div>
					</div>

					<div class="row">
						<div class="form-group col-sm-4 bw-required">
							<label for="email">E-mail*</label> <input id="email" type="text"
								class="form-control" 
								/>
						</div>
						<div class="form-group col-sm-3 bw-required">
							<label for="telefone">Telefone*</label> <input id="telefone"
								type="text" class="form-control js-phone-number"
								
								 />
						</div>

					</div>

					<div class="row">
						<div class="form-group col-sm-4 bw-required">
							<label for="login">Login*</label> <input id="login" type="text"
								class="form-control" 
								 />
						</div>
						<div class="form-group col-sm-4">
							<label for="senha">Senha*</label> <input id="senha"
								type="password" class="form-control"
								
								placeholder="Mínimo de 3 caracteres" />
						</div>
						<div class="form-group col-sm-4">
							<label for="confirmacaoSenha">Confirmação de Senha*</label> <input
								id="confirmacaoSenha" type="password" class="form-control"
								
								
								placeholder="Mínimo de 3 caracteres" />
						</div>
					</div>
					<div class="row">
						<div class="form-group  col-sm-4 col-lg-3 bw-required">
							<label class="control-label">Grupos*</label>
							<div>

								<th:block>
									<div class="checkbox  checkbox-inline">
										<input type="checkbox"/> Admin
									</div>
								</th:block>
								<th:block>
									<div class="checkbox  checkbox-inline">
										<input type="checkbox"/> Professor
									</div>
								</th:block>
								<th:block>
									<div class="checkbox  checkbox-inline">
										<input type="checkbox"/> Aluno
									</div>
								</th:block>
							</div>
						</div>
					</div>

					<button type="submit" class="btn  btn-primary">Salvar</button>
					<button type="button" class="btn btn-danger">Cancelar</button>
				</form>
			</div>
			<div th:replace="modal/usuario/HelpCadastroUsuario :: modal"></div>
		</div>

	</section>
	<th:block layout:fragment="javascript-extra">
		<!-- <script th:src="@{/javascripts/usuario.remover.js}"></script> -->
	</th:block>

</body>

</html>
