<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Pesquisar Usuarios</title>
</head>


<body>
	
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			<div class="page-header">
				<div class="container-fluid">
					<h1>Pesquisar Usuarios</h1>
				</div>
			</div>
			<div class="container-fluid">
				<section th:fragment="fragment-pesquisaUsuario">
					<div class="row">
					<form method="GET" class="form-vertical  js-form-loading" >
					<div class="form-row">
						<div class="form-group col-sm-6">
								<input id="busca" name="busca" type="text" class="form-control" autofocus="autofocus" placeholder="Pesquisar Usuarios..."/>						
						</div>
						<div class="form-group col-sm-2">
							<button class="btn btn-primary" type="submit">Pesquisar</button>
						</div>
						<div class="col-sm-1">
							<label for="filtro" class="form-group">Por:</label>
						</div>
						<div class="col-sm-2">
							<select class="form-control" id="filtro" name="filtro">							
											<option value="nome">Nome</option>
											<option value="cpf">CPF</option>
							</select>														
						</div>								
					</div>	
					</form>
					
					<div class="container-fluid">
						<table class="table table-striped">
							<thead>
								<tr>
									<th><input name="tudo" type="checkbox"></th>
									<th>Nome</th>
									<th>CPF</th>
									<th>Telefone</th>
									<th>Naturalidade</th>
									<th>Grupo</th>
									<th colspan="2">Ações</th>	
								</tr>
							</thead>
							<tbody>
							<form  method="GET" th:action="@{/usuarios/editar}">
								<tr th:each="usuario : ${listaUsuarios}" th:id="|usuario*{usuario.id}|">
									<td><input th:id="|check*{usuario.id}|" th:name="|check*{usuario.id}|" type="checkbox"></td>
									<td th:text="*{usuario.nome}">Nome</td>
									<td th:text="*{usuario.cpf}">CPF</td>
									<td th:text="*{usuario.telefone}">Telefone do usuario</td>
									<td th:text="*{usuario.naturalidade}">Naturalidade</td>
									<td>
										<select>
											<option th:each="grupo:${usuario.grupos}" th:text="${grupo.nome}"></option>
										</select>
									</td>
									<td><button th:id="|removerUserId*{usuario.id}|" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalRemoverUsuario" th:onclick="|setValorRemover(*{usuario.id},'@{/usuarios/remover}')|" type="button">Remover</button></td>
									<td><button class="btn btn-default btn-sm" name="id" th:value="*{usuario.id}" type="submit">Editar</button></td>
								</tr>
							</form>
							</tbody>
						</table>
					</div>
					
				</div>
				</section>
		   </div>
	</div>
	<div th:replace="usuario/RemoverUsuario :: modal"></div>
		</section>
		<th:block layout:fragment="javascript-extra">
			<script th:src="@{/javascripts/usuario.remover.js}"></script>
		</th:block>
</body>
</html>
