<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="modal fade" id="modalRemoverUsuario" tabindex="-1" role="dialog"  th:fragment="modal">
		<div class="modal-dialog  modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Remover Usuario</h4>
				</div>
				
				<div class="modal-body">
					
					<h4>Tem certeza que quer excluir este registro?</h4>
					<input class="hidden" type="number" id="idRemover" name="idRemover"/>
					<input class="hidden" type="text" id="urlRemover" name="urlRemover"/>
					<button type="button" class="btn  btn-cancel" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn  btn-primary js-remover-usuario-sim">Sim</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>