<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>ERP - CBL</title>
<meta name="description" content="Sufee Admin - HTML5 Admin Template">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" href="apple-icon.png">
<link rel="shortcut icon" href="favicon.ico">
<!-- <link rel="stylesheet" type="text/css" href="../stylesheets/vendors.min.css"
	th:href="@{/stylesheets/vendors.min.css}" />-->
<link rel="stylesheet" th:href="@{/layout/css/normalize.css}">
<link rel="stylesheet" th:href="@{/layout/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/layout/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/layout/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/layout/css/flag-icon.min.css}">
<link rel="stylesheet" th:href="@{/layout/css/cs-skin-elastic.css}">
<!-- <link rel="stylesheet" th:href="@{/layout/css/bootstrap-select.less"> -->
<link rel="stylesheet" th:href="@{/layout/scss/style.css}">
<link th:href="@{/layout/css/lib/vector-map/jqvmap.min.css}"
	rel="stylesheet">

<link
	href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800'
	rel='stylesheet' type='text/css'>

<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js}"></script> -->

</head>


<body>
	<div th:replace="layout/fragments/MenuLateral :: layout-sidebar"></div>
	<!-- MENU BAR DA ESQUERDA -->

	<!-- MENUBAR DA DIREITA FIXADA NO TOPO -->
	<!-- Utilizo isso aqui pra pegar o arquivo barraNavegacao.html a partir do navbar -->
	<!--		<div   th:replace="layout/fragments/BarraNavegacao :: layout-navbar">

		</div>
		-->


	<section class="aw-layout-content  js-content"
		layout:fragment="conteudo"></section>
	<!-- FORM PRINCIPAL DE CADASTRO. QUEM CHAMAR ESSE FORM VAI ALTERAR ESSE CONTEUDO -->



	<!-- RODAPÉ -->
	<!--<div th:replace="layout/fragments/Footer :: layout-footer"></div>-->

	<script th:src="@{/layout/js/vendor/jquery-2.1.4.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	<script th:src="@{/layout/js/plugins.js}"></script>
	<script th:src="@{/layout/js/main.js}"></script>
	
	<script src="../static/javascripts/vendors/jquery.maskMoney.min.js" th:src="@{/javascripts/vendors/jquery.maskMoney.min.js}"></script>
	<script src="../static/javascripts/vendors/jquery.mask.min.js" th:src="@{/javascripts/vendors/jquery.mask.min.js}"></script>

	<!-- <script th:src="@{/layout/js/lib/chart-js/Chart.bundle.js}"></script> -->
	<!-- <script th:src="@{/layout/js/dashboard.js}"></script> -->
	<!-- <script th:src="@{/layout/js/widgets.js}"></script> -->
	<script th:src="@{/layout/js/lib/vector-map/jquery.vmap.js}"></script>
	<script th:src="@{/layout/js/lib/vector-map/jquery.vmap.min.js}"></script>
	<script th:src="@{/layout/js/lib/vector-map/jquery.vmap.sampledata.js}"></script>
	<script src="../static/javascripts/erp.js"
		th:src="@{/javascripts/erp.js}"></script>
	<script
		th:src="@{/layout/js/lib/vector-map/country/jquery.vmap.world.js}"></script>
	<!--    <script>
        ( function ( $ ) {
            "use strict";

            jQuery( '#vmap' ).vectorMap( {
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: [ '#1de9b6', '#03a9f5' ],
                normalizeFunction: 'polynomial'
            } );
        } )( jQuery );
    </script>
-->
</body>

<th:block layout:fragment="javascript-extra"></th:block>
</html>