<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Página Inicial</title>
</head>
<body>
	<section>
		<!-- Right Panel -->

		<div id="right-panel" class="right-panel" layout:fragment="conteudo">

			<!-- Header-->
			<header id="header" class="header">

				<div class="header-menu">

					<div class="col-sm-7">
						<a id="menuToggle" class="menutoggle pull-left"><i
							class="fa fa fa-tasks"></i></a>
						<div class="header-left">
							<div></div>

							<div></div>
						</div>
					</div>

					<div class="col-sm-5"></div>
				</div>

			</header>
			<!-- /header -->
			<!-- Header-->

			<!-- até aqui tem q ter em todos -->
			<div class="breadcrumbs">
				<div class="col-sm-4">
					<div class="page-header float-left">
						<div class="page-title">
							<h1>Página inicial</h1>
						</div>
					</div>
				</div>
			</div>
			<script th:rc="@{layout/js/vendor/jquery-2.1.4.min.js}"></script>
			<script th:src="@{layout/js/popper.min.js}"></script>
			<script th:src="@{layout/js/plugins.js}"></script>
			<script th:src="@{layout/js/main.js}"></script>
			<!--  Chart js -->
			<script th:src="@{layout/js/lib/chart-js/Chart.bundle.js}"></script>
			<script th:src="@{layout/js/lib/chart-js/chartjs-init.js}"></script>
		</div>

	</section>
	<th:block layout:fragment="javascript-extra">
		<!-- <script th:src="@{/javascripts/usuario.remover.js}"></script> -->
	</th:block>

</body>

</html>
