/*
########################
#Utilidades
########################
*/
.bw-glyphicon-large{
	
	font-size: 18px;
}

/*
########################
#COMPONENTES
########################
*/

/*Field Action */

.bw-field-action{
	display: flex;
	
}

.bw-field-action__icon{
	margin: 6px 1px 1px 5px;
}

.item-selecionado{
	
	border:1px solid silver;
	border-color: black;
	display:inline-block;
	max-width:100%;
	height:auto;
	padding:4px;
	line-height:1.42857143;
	background-color: #1e94d2;
	border:1px solid #ddd;
	border-radius:4px;
	-webkit-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;

}

.bw-required > .control-label:after {
	content: "*";
}

.item-selecionado span{
	color:#ddd;
}

/*
###################
#Customização de componentes
########################
*/

.checkbox input[type="checkbox"]:checked + input + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
     
}