<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Cadastro de Curso</title>
</head>


<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro  de Curso</h1>
			</div>
		</div>
		
		
		
		<div class="container-fluid">
		
			<th:block th:include="fragments/MensagemSucesso"></th:block>	
			
			<form method="POST" class="form-vertical  js-form-loading" th:object ="${curso}">
			
			<th:block th:include="fragments/MensagensErroValidacao"></th:block>
			
				<div class="row">
					
					<div class="form-group col-sm-4" th:classappend ="${#fields.hasErrors('nome')}? has-error">
						<label for="nome" class= "control-label">Curso</label>
						<input id="nome" type="text" class="form-control" autofocus="autofocus" th:field = "*{nome}"/>
					</div>
					<div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('tipo')}? has-error">
						<label for="tipo" class="control-label">Tipo do Curso</label>
						<select id="tipo" th:field="*{tipo}" class="form-control">
							<option value="">Selecione o Tipo</option>
							<option th:each="tipoCurso: ${tiposCursos}" th:value="${tipoCurso.descricao}" th:text="${tipoCurso.descricao}"></option>
						</select>
					</div>
				</div>
				
				<div class="row">
					
					<div class="form-group col-sm-4" th:classappend ="${#fields.hasErrors('area')}? has-error">
							<label for="area" class= "control-label">Area do Conhecimento</label>
							<div class="bw-field-action">							
								<select id="area" class="form-control" th:field="*{area.id}" >
									<option value="0">Selecione a Area do Conhecimento</option>
									<option th:each="area : ${areas}" th:value="${area.id}" th:text="${area.nome}"> Opção 1</option>
								</select>
								<div class="bw-field-action__icon">
										<a href="#" data-toggle="modal"
											data-target="#modalCadastroRapidoAreaConhecimento"> <i
											class="glyphicon  glyphicon-plus-sign  bw-glyphicon-large"></i>
										</a>
								</div>
						</div>
					</div>
				
					<div class="form-group col-sm-2" th:classappend ="${#fields.hasErrors('sigla')}? has-error">
						<label for="sigla" class= "control-label">Sigla</label>
						<input id="sigla" type="text" class="form-control" th:field = "*{sigla}"/>
					</div>
					<div class="form-group col-sm-2">
						<br>
						<button class="btn  btn-primary" type="submit">Salvar</button>
					</div>					
				</div>
				
			</form>
		</div>	
		<div class="container-fluid">	
			<hr>
			<!-- incluindo a pesquisa -->
			<div th:insert="curso/PesquisaCurso :: fragment-pesquisaCurso"></div>
			
		</div>
		<div th:replace="areaConhecimento/CadastroRapidoAreaConhecimento :: modal"></div>
		<div th:replace="curso/RemoverCurso :: modal"></div>
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/areaConhecimento.cadastro-rapido.js}"></script>
		<script th:src="@{/javascripts/curso.remover.js}"></script>	
	</th:block>
</body>
</html>
