<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Pesquisar Cursos</title>
</head>


<body>

	<section layout:fragment="conteudo">
		<div class="container-fluid">
			<div class="page-header">
				<div class="container-fluid">
					<h1>Pesquisar Cursos</h1>
				</div>
			</div>
			<div class="container-fluid">
				<section th:fragment="fragment-pesquisaCurso">
					<div class="row">
						<form method="GET" class="form-vertical  js-form-loading">
						 <div class="form-row">
							<div class="form-group col-sm-6">
								<input id="busca" name="busca" type="text" class="form-control"
									autofocus="autofocus" placeholder="Pesquisar Curso..." />
							</div>
							<div class="form-group col-sm-2">
								<button class="btn btn-primary" type="submit">Pesquisar</button>
							</div>
							<div class="col-sm-1">
								<label for="filtro" class="form-group">Por:</label>
							</div>
							<div class="col-sm-2">
									<select class="form-control" id="filtro" name="filtro">							
											<option value="nome">Nome</option>
											<option value="tipo">Tipo</option>
									</select>														
							</div>		
						  </div>
						</form>

						<div class="container-fluid">
							<table class="table table-striped">
								<thead>
									<tr>
										<th><input name="tudo" type="checkbox"></th>
										<th>Nome</th>
										<th>Sigla</th>
										<th>Tipo</th>
										<th>Area do Conhecimento</th>
										<th colspan="2">Ações</th>
									</tr>
								</thead>
								<tbody>
								<form method="GET" th:action="@{editar}">
									<tr th:each="curso : ${listaCurso}" th:id="|curso*{curso.id}|">
										<td><input th:id="|check*{curso.nome}|"
											th:name="|check*{curso.nome}|" type="checkbox"></td>
										<td th:text="*{curso.nome}">Nome curso</td>
										<td th:text="*{curso.sigla}">Sigla do curso</td>
										<td th:text="*{curso.tipo}">Tipo do curso</td>
										<td th:text="*{curso.area.nome}">Area do curso</td>
										<td><button th:id="|removerCursoId*{curso.id}|" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalRemoverCurso" th:onclick="|setValorRemover(*{curso.id},'@{/cursos/remover}')|" type="button">Remover</button></td>
										<td><button class="btn btn-default" name="id" th:value="*{curso.id}" type="submit">Editar</button></td>
									</tr>
								</form>
								</tbody>
							</table>
						</div>

					</div>
				</section>
			</div>
		</div>
		<div th:replace="curso/RemoverCurso :: modal"></div>
		</section>
		<th:block layout:fragment="javascript-extra">
			<script th:src="@{/javascripts/curso.remover.js}"></script>
		</th:block>
</body>
</html>
