<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<aside id="left-panel" class="left-panel" th:fragment="layout-sidebar">
		<nav class="navbar navbar-expand-sm navbar-default">

			<div class="navbar-header">
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#main-menu" aria-controls="main-menu"
					aria-expanded="false" aria-label="Toggle navigation">
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="./"><img
					th:src="@{/layout/images/logo.png}" alt="Logo"></a> <a
					class="navbar-brand hidden" href="./"><img
					th:src="@{/layout/images/logo2.png}" alt="Logo"></a>
			</div>

			<div id="main-menu" class="main-menu collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a th:href="@{/index}"> <i
							class="menu-icon fa fa-dashboard"></i>Página Inicial
					</a></li>
					<h3 class="menu-title">Cadastros</h3>
					<!-- /.menu-title -->
					<li class="menu-item-has-children dropdown"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> <i
							class="menu-icon fa fa-building"></i>Meu Cadastro
					</a>
						<ul class="sub-menu children dropdown-menu">
							<li><i class="fa fa-file-text-o"></i><a
								th:href="@{/usuarios/novo}">Visualizar Cadastro</a></li>
							<li><i class="fa fa-pencil-square-o"></i><a
								th:href="@{/usuarios/novo}">Editar Cadastro</a></li>
						</ul></li>
					<li class="menu-item-has-children dropdown"><a href="#"
						class="dropdown-toggle " data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> <i
							class="menu-icon fa fa-product-hunt"></i>Disciplinas
					</a>
						<ul class="sub-menu children dropdown-menu">
							<!--<li><i class="menu-icon fa fa-plus"></i><a
								th:href="@{/disciplinas/novo}">Nova Disciplina</a></li>-->
							<li><i class="menu-icon fa fa-search"></i><a
								th:href="@{/disciplinas/busca}">Buscar Disciplina</a></li>
							<li><i class="menu-icon fa fa-pencil-square-o"></i><a
								th:href="@{/disciplinas/editar}">Gerenciar Disciplinas</a></li>
						</ul></li>
					<li class="menu-item-has-children dropdown"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> <i
							class="menu-icon fa fa-address-card-o"></i>Tutoria
					</a>
						<ul class="sub-menu children dropdown-menu">
							<li><i class="menu-icon  fa fa-search"></i><a
								th:href="@{/tutorias/novo}">Tornar-se Tutor</a></li>
							<li><i class="menu-icon  fa fa-pencil-square-o"></i><a
								th:href="@{/tutorias/busca}">Gerenciar Tutoria</a></li>
						</ul></li>
					

					<h3 class="menu-title">Financeiro</h3>
					<!-- /.menu-title -->
					<li class="menu-item-has-children dropdown"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> <i
							class="menu-icon fa fa-usd"></i>Ganhos
					</a>
						<ul class="sub-menu children dropdown-menu">
							<li><i class="menu-icon  fa fa-money"></i><a
								th:href="@{/ganhos/buscar}">Verificar ganhos</a></li>
							<li><i class="menu-icon  fa fa-repeat"></i><a
								th:href="@{/gastos/buscar}">Verificar gastos</a></li>
							<li><i class="menu-icon  fa fa-ban"></i><a
								th:href="@{/balancos/buscar}">Verificar balanço</a></li>
						</ul></li>

					<li class="menu-item-has-children dropdown"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> <i
							class="menu-icon fa fa-file-text-o"></i>Relatórios
					</a>
						<ul class="sub-menu children dropdown-menu">
							<li><i class="menu-icon  fa fa-shopping-bag"></i><a
								th:href="@{/relatorios/tutoria/buscar}">Relatório de tutoria</a></li>
								<li><i class="menu-icon  fa fa-shopping-bag"></i><a
								th:href="@{/relatorios/disciplina/buscar}">Relatório de disciplinas</a></li>
						</ul></li>


					<h3 class="menu-title">Utilitários</h3>
					<!-- /.menu-title -->
					<li class="menu-item-has-children dropdown"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> <i
							class="menu-icon fa fa-info-circle"></i>Ajuda
					</a>
						<ul class="sub-menu children dropdown-menu">
							<li><i class="menu-icon fa fa-question-circle"></i><a
								href="page-login.html">Help</a></li>
							<li><i class="menu-icon fa fa-exclamation-circle"></i><a
								href="page-register.html">Erros Comuns</a></li>
							<li><i class="menu-icon fa fa-book"></i><a
								href="pages-forget.html">Manual</a></li>
						</ul></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
	</aside>
	<!-- /#left-panel -->

</body>
</html>